<!DOCTYPE html>
<html>
  <body>
  	<%= javascript_pack_tag 'application' %>
    <% if logged_in? %>
    	<%= react_component("EditTask", {task_id: @task_edit.id, username: current_user.name, user_id: current_user.id, list_count: current_user.lists.count, lists: current_user.lists.collect(&:title)}) %>
    <% else %>
 		<%= react_component("Welcome") %>
 	<% end %>
  </body>
</html>